<div class="w-100 m-0 bg-light footer">
    <div class="row mx-0">
        <div class="col-md col-12 text-center text-md-left">
            <a href="#" class="footer-link mx-2"><i class="fab fa-instagram"></i></a>
            <a href="#" class="footer-link mx-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="footer-link mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="footer-link mx-2"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-md col-12 text-center text-md-right">
            Hecho con <i class="fas fa-heart"></i> por <a href="https://matias-obezzi.github.io" target="_blank" class="font-weight-bold author">Matías Obezzi</a>
        </div>
    </div>
</div>